body {
  font-size: 100%;
  width: 95%;
  margin: auto;
}

h1 {
  font-size: 200%;
  margin-bottom: 2rem;
}

h2 {
  font-size: 150%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
  background-color: #73B1B7;
  color: white;
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 120%;
}

.item-container {
  display: flex;
  width: 33%;
}

img {
  max-width: 100%;
}

aside {
  float: left;
}

form {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

label {
  font-weight: bold;
}

select {
  width: 100%;
  margin-top: 0.5rem;
  border: 0.1rem solid #73B1B7;
}

input[type=submit] {
  background-color: #73B1B7;
  border-radius: 0.3rem;
  border: 0.2rem solid #73B1B7;
  color: white;
  margin-top: 0.1rem;
}