body {
  font-size: 100%;
  width: 95%;
  margin: auto;
    color: #191970;

}

h1 {
  font-size: 250%;
  letter-spacing: 0.1rem;
  font-style: italic;
  float: left;
  padding: 3rem 0 1rem 1rem;
  margin-bottom: 2rem;
}

h1:first-letter {
  font-size: 300%;
  font-style: normal;
}

h2 {
  font-size: 150%;
  width: 20%;
  margin: 0 0 2rem 2.5%;
  float: left;
}

h3 {
  font-size: 120%;
  padding-bottom: 1rem;
}

p {
  padding: 0.5rem 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  background-color: #191970;
  justify-content: space-between;
  color: white;
  padding: 0.5rem 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 120%;
}

.item-container {
  float: right;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 82%;
}

.item {
  width: 25%;
  margin-right: 2%;
  margin-bottom: 3rem;
}

img {
  max-width: 100%;
}

aside {
  width: 18%;
  clear: both;
  float: left;
}

.logo-container {
  width: 5%;
  padding: 2rem 2rem 1rem 1rem;
  float: left;
}

header img {
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

label {
  font-weight: bold;
}

select {
  width: 100%;
  margin-top: 0.5rem;
  border: 0.1rem solid #73B1B7;
}

input[type=submit] {
  background-color: #191970;;
  border-radius: 0.3rem;
  border: 0.2rem solid #191970;
  color: white;
  font-weight: bold;
  margin-top: 0.1rem;
}